$primary: #ad020d;
$darkRed: #8c2726;
$buttonColor: #ad020d;
$textColorBlack: #2d2019;
$textColorWhite: #ffffff;
@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@100;200;300;400;500;600;700;800;900&display=swap');
body {
  background-color: #ffffff;
  font-family: 'Bitter', serif;
}
.mobileOnly {
  display: none;
}
.z-container {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  .btn {
    border-radius: 0px;
  }
  .z-col-3 {
    width: 300px;
    height: 300px;
  }
  .z-col-6 {
    width: 600px;
    height: 300px;
  }
  .someTextWrapper {
    position: relative;
    background: linear-gradient(
      135deg,
      white 0%,
      white 66.3%,
      $primary 0%,
      $primary 33.7%
    );
    .someTextDiv {
      width: 65%;
      padding: 20px;
      h2 {
        font-size: 27px;
        font-weight: 800;
        line-height: 36px;
      }
      p {
        font-size: 16px;
        font-weight: 500;
        line-height: 22px;
      }
      .btn-pirmary {
        background-color: $buttonColor;
        border-radius: 0px !important;
      }
    }
  }
  .col-3-redNwhite {
    background: linear-gradient(
      to bottom right,
      #fff 0%,
      #fff 50%,
      $primary 50%,
      $primary 100%
    );
  }
  .imgWrapper {
    img {
      width: 100%;
    }
  }
  .col-3-redNdarkRed {
    background: linear-gradient(
      to bottom right,
      $darkRed 0%,
      $darkRed 50%,
      $primary 50%,
      $primary 100%
    );
  }
  .col-3-redNwhiteR {
    background: linear-gradient(
      to bottom right,
      $primary 0%,
      $primary 50%,
      #fff 50%,
      #fff 100%
    );
  }
  .col-3-darkRed {
    background-color: $darkRed;
  }
  .greenBg {
    background-color: #387a80;
    border-bottom: 3px solid #ffce00;
    .someTextDiv {
      padding: 40px;
      h2 {
        color: $textColorWhite;
        font-size: 27px;
        font-weight: 800;
        line-height: 36px;
      }
      p {
        color: $textColorWhite;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
      }
    }
  }
}
@media screen and (max-width: 1200px) {
  .z-container {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    .z-col-3 {
      width: 250px;
      height: 250px;
    }
    .z-col-6 {
      width: 500px;
      height: 250px;
    }
    .someTextWrapper {
      .someTextDiv {
        h2 {
          font-size: 20px;
          font-weight: 800;
          line-height: 24px;
        }
        p {
          font-size: 12px;
          font-weight: 500;
          line-height: 18px;
        }
        .btn-pirmary {
          background-color: $buttonColor;
          border-radius: 0px !important;
        }
      }
    }

    .greenBg {
      .someTextDiv {
        padding: 40px;
        h2 {
          color: $textColorWhite;
          font-size: 24px;
          font-weight: 800;
          line-height: 32px;
        }
        p {
          color: $textColorWhite;
          font-size: 12px;
          font-weight: 400;
          line-height: 18px;
        }
      }
    }
  }
}
@media screen and (max-width: 1000px) {
  .z-container {
    width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    .z-col-3 {
      width: 200px;
      height: 200px;
    }
    .z-col-6 {
      width: 400px;
      height: 200px;
    }
    .someTextWrapper {
      .someTextDiv {
        h2 {
          font-size: 16px;
          font-weight: 800;
          line-height: 20px;
        }
        p {
          font-size: 10px;
          font-weight: 500;
          line-height: 14px;
        }
        .btn-pirmary {
          background-color: $buttonColor;
          border-radius: 0px !important;
          font-size: 10px !important;
        }
        .btn {
          border-radius: 0px !important;
          font-size: 10px !important;
        }
      }
    }

    .greenBg {
      .someTextDiv {
        padding: 30px;
        h2 {
          color: $textColorWhite;
          font-size: 18px;
          font-weight: 800;
          line-height: 24px;
        }
        p {
          color: $textColorWhite;
          font-size: 10px;
          font-weight: 400;
          line-height: 14px;
        }
        .btn {
          font-size: 10px;
        }
      }
    }
  }
}
@media screen and (max-width: 800px) {
  .desktopOnly {
    display: none;
  }
  .mobileOnly {
    display: block;
  }
  .z-container {
    width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    .z-col-3 {
      width: 200px;
      height: 200px;
    }
    .z-col-6 {
      width: 400px;
      height: 200px;
    }
    .someTextWrapper {
      .someTextDiv {
        h2 {
          font-size: 16px;
          font-weight: 800;
          line-height: 20px;
        }
        p {
          font-size: 10px;
          font-weight: 500;
          line-height: 14px;
        }
        .btn-pirmary {
          background-color: $buttonColor;
          border-radius: 0px !important;
          font-size: 10px !important;
        }
        .btn {
          border-radius: 0px !important;
          font-size: 10px !important;
        }
      }
    }

    .greenBg {
      .someTextDiv {
        padding: 30px;
        h2 {
          color: $textColorWhite;
          font-size: 18px;
          font-weight: 800;
          line-height: 24px;
        }
        p {
          color: $textColorWhite;
          font-size: 10px;
          font-weight: 400;
          line-height: 14px;
        }
        .btn {
          font-size: 10px;
        }
      }
    }
  }
}
@media screen and (min-width: 800px) {
  .mobileOnly {
    display: none;
  }
}
